<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.387902855657-njomudejdbd9me2ph42nsosvq22f20om</string>
				<string>glazemeproject.rlc</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>RLC.GlazeMeAiProject</string>
	<key>UIAppFonts</key>
	<array>
		<string>Lemonada-Bold.ttf</string>
		<string>Lemonada-Light.ttf</string>
		<string>Lemonada-Medium.ttf</string>
		<string>Lemonada-Regular.ttf</string>
		<string>Lemonada-SemiBold.ttf</string>
	</array>
</dict>
</plist>
